<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

    <!-- Theme used for reveal.js and default syntax highlighting of code -->
    <link rel="stylesheet" href="{{ 'assets/plugin/highlight/monokai.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/rouge-highlight/monokai.css' | relative_url }}">

    <!-- Reveal CSS -->
    <link rel="stylesheet" href="{{ 'assets/dist/reset.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/dist/reveal.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/dist/theme/' | relative_url }}{{ site.reveal.theme }}.css" id="theme">
